@import "this_app_name_colors";
@import "this_app_name_button";
@import "this_app_name_alarm_content";

window {
  //background-image: none;
  background-color: $base-bg;
  color: $light-base-bg;
  font-size: 18px;
}

#progress-box
{
  progressbar text{
    color: $base-fg;
    background-color: $base-bg;
    background-image: none;
  }

}